@import './variables/global';
@import './themes/light';
@import './themes/dark';
@import './reset';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap';

.app {
  font-family: var(--font-family-main);
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.content {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 30px;
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
}

.main-page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
