.root {
  width: 100%;
  border-bottom: 1px solid var(--border-default);
  background-color: var(--inverted-bg-color);
  padding: 20px 30px;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logo {
  display: flex;
  align-items: center;
  p {
    margin-left: 20px;
  }

  span {
    font-weight: bold;
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.links {
  display: flex;
  gap: 20px;
}