.root {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

.img {
  border-radius: 50%;
  height: 180px;
}

.about {
  p {
    text-align: center;
  }

  span {
    padding-left: 10px;
    border-left: 1px solid var(--border-default);
  }
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    font-weight: 500;
  }
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}