.activity {
  width: 100%;
  padding: 20px 0;
}

.wrapper {
  display: flex;
}

.sidebar {
  position: fixed;
}

.profile {
  width: 300px;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  background-color: var(--bg-color);
  border-right: 1px solid var(--border-default);
}

.sectionWrapper {
  display: flex;
}

.sectionProgress {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.sectionHistory {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.sectionHistoryInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionHistoryEvents {
  display: flex;
  align-items: center;
  gap: 5px;
}