.activity {
  padding: 20px 0;
}

.sectionWrapper {
  display: flex;
}

.sectionProgress {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.sectionHistory {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.sectionHistoryInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionHistoryEvents {
  display: flex;
  align-items: center;
  gap: 5px;
}