.activity {
  padding: 20px 0;
}

.sectionWrapper {
  display: flex;
}

.sectionProgress {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.sectionHistory {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}