.root {
  text-decoration: none;
  color: var(--primary-color);
  font-size: var(--font-size-m);
  padding-bottom: 4px;
  &:hover {
    border-bottom: 2px solid var(--blue);
  }
}

.active {
  border-bottom: 2px solid var(--github-tia);
}
